<!--<div class="register_account">
    <div class="wrap">
        <form>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="pi-inner-search">
                        <div class="col_1_of_2 span_1_of_2 pi-input-box col-md-offset-4">
                            <div><input type="text" placeholder="What you want to pingle?" ng-model="typeaheadValue"
                                        bs-typeahead="typeahead"></div>
                        </div>
                        <div class="col_1_of_2 span_1_of_2 pi-select-box">
                            <div>
                                <select data-ng-controller="watchesCtrl" placeholder="Select category"
                                        ng-click="getMobileInfo(typeaheadValue, item.name)" style="width: 40%"
                                        ng-model="item"
                                        ng-options="item as item.name for item in items"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>-->

<div data-ng-controller="watchesCtrl"></div>
<div class="login">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            <form ng-submit="resultForSelection(user.brandList, '0', user.priceList, categoryItem)">


                <section ng-show="brandList.length > 2" class="sky-form">
                    <h4>Brand</h4>

                    <div  class="row row1 scroll-pane">
                        <div class="col col-4" ng-repeat="role in brandList">
                            <label class="pi-label">
                                <input type="radio" ng-click="resultForSelection(user.brandList, '0', user.priceList, categoryItem)"
                                       ng-model="user.brandList" ng-value="role.brand"> {{role.brand}}
                            </label>
                        </div>
                    </div>
                </section>


                <div class="clear"></div>


               <!-- <section class="sky-form">
                    <h4>Color</h4>

                    <div class="row row1 scroll-pane">
                        <div class="col col-4" ng-repeat="role in colorList">
                            <label class="pi-label">
                                <input type="radio" ng-click="resultForSelection('0', user.colorList, user.priceList, categoryItem)"
                                       ng-model="user.colorList" ng-value="role.color"> {{role.color}}
                            </label>
                        </div>
                    </div>
                </section>-->

                <div class="clear"></div>


                <section class="sky-form">
                    <h4>Price</h4>

                    <div class="row row1 scroll-pane">
                        <div class="col col-4" ng-repeat="role in priceList">
                            <label class="pi-label">
                                <input type="radio" ng-click="resultForSelection(user.brandList, '0', user.priceList, categoryItem)"
                                       ng-model="user.priceList" ng-value="role.price"> {{role.price}}
                            </label>
                        </div>
                    </div>
                </section>


            </form>

        </div>
        <div class="cont span_2_of_3">
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Price - </label>
                        <a href="#/electronics" ng-click="resultForSelection(user.brandList, '0', user.priceList, categoryItem, 'desc')"> High to Low </a>
                        <a href="#/electronics" ng-click="resultForSelection(user.brandList, '0', user.priceList, categoryItem, 'asc')" class="pull-right"> Low  to high </a>

                        <a href=""><img src="web/images/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div ng-show="electronicsList.length>0">
                <label class="text-muted fa-bold"><b>Total results : {{ electronicsList.length }}</b></label> <br>
            </div>
            <div class="clear"></div>

            <!--  <a href="#" class="btn btn-primary btn-lg" data-ng-controller="watchesCtrl" ng-click="start()">
                  <i class="glyphicon glyphicon-play-circle"></i> <span>cfpLoadingBar.</span>start()
              </a>-->

            <div ng-init="getElectronicsResult('electronic')" class="box1">

                <div ng-hide="electronicsList.length>0">

                    <img src="web/images/spiffygif_86x86 (1).gif" style="margin-left: 450px; margin-top: 15%" class="text-center">

                    </img>
                    <div class="text-center text-danger"><b>Please wait while we fetch results from various vendors.</b></div>
                    <!--<div class="alert alert-info">
                        <span><strong>Notice: </strong> Oops! We are sorry, we don't have products which you have selected! Try expanding your filter and see we will have lot many products for you.</span>
                    </div>-->

                </div>

                <div data-ng-repeat="product in electronicsList | limitTo: paginationLimit()">
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a ng-click="getProductInfo(product.productName, categoryItem)" data-toggle="modal" data-target="#myModal">
                            <div class="view1 view-fifth1" style="width: 300px; height: 450px;">
                                <div class="top_box">
                                    </br>
                                    <p class="m_2"></p>

                                    <div class="grid_img">
                                        <div class="css3"><img src="{{product.mediumImage}}"
                                                               style="width: inherit; height: 250px" alt=""/></div>
                                        <div class="mask1">
                                            <div class="info">Similar &amp; Compare</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Flipkart'"><span><img class="centered"
                                                                                         src="web/images/Flipkart1.JPG"></span>
                                </div>
                                <div style="margin-left: 111px; margin-top: 8px" ng-show="product.merchant == 'Amazon'">
                                    <span><img class="centered" src="web/images/amazon1.JPG"></span></div>
                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Snapdeal'"><span><img class="centered"
                                                                                         src="web/images/snapdeal1.JPG"></span>
                                </div>

                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Jabong.com'"><span><img class="centered"
                                                                                           src="web/images/jabong1.JPG"></span>
                                </div>
                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Myntra.com'"><span><img class="centered"
                                                                                           src="web/images/myntra1.JPG"></span>
                                </div>
                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Indiatimes Shopping'"><span><img class="centered"
                                                                                                    src="web/images/Indiatimes1.JPG"></span>
                                </div>
                                <div style="margin-left: 111px; margin-top: 8px"
                                     ng-show="product.merchant == 'Greendust.com'"><span><img class="centered"
                                                                                              src="web/images/greendust1.JPG"></span>
                                </div>
                                <div class="price text-center">{{product.salePrice}} Rs. <span
                                        ng-hide="product.discountDesc == ''"> <font size=3 color=red>
                                    {{product.discountDesc}} </font></span></div>
                                <h3 class="m_1 text-center">{{product.productName}}</h3>
                                <a class="btn btn-primary bt" style="margin-left: 111px; margin-top: 8px"
                                   target="_blank" href="{{product.productURL}}"> Buy Now </a>
                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </a></div>
                </div>
                <div class="pagination pagination-centered">
                    <button class="btn btn-default btn-group-lg" style="margin-left: 400px"
                            ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more
                    </button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content row">
                <div class="modal-header col-xs-12 col-sm-12 col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title panel-primary" id="myModalLabel">
                        You can compare prices from below sellers for
                        <span class="pi-product-details">
                            {{productName}}
                        </span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div id="myCarousel" style="width: 100%" class="carousel slide" data-interval="3000" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div  class="carousel-inner" style="overflow: inherit">
                            <div  class="active item">
                                <div >
                                    <div data-ng-repeat="productcompare in pricecompare">
                                        <div class="col_1_of_single1 span_1_of_single1">
                                            <div class="view1 view-fifth1" style="width: 300px; height: 450px;">
                                                <div class="top_box">
                                                    </br>
                                                    <p class="m_2"></p>

                                                    <div class="grid_img">
                                                        <div class="css3"><img src="{{productcompare.mediumImage}}"
                                                                               style="width: inherit; height: 250px" alt=""/></div>

                                                    </div>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Flipkart'"><span><img class="centered"
                                                                                                         src="web/images/Flipkart1.JPG"></span>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Amazon'"><span><img class="centered"
                                                                                                       src="web/images/amazon1.JPG"></span>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Snapdeal'"><span><img class="centered"
                                                                                                         src="web/images/snapdeal1.JPG"></span>
                                                </div>

                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Jabong.com'"><span><img class="centered"
                                                                                                           src="web/images/jabong1.JPG"></span>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Myntra.com'"><span><img class="centered"
                                                                                                           src="web/images/myntra1.JPG"></span>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Indiatimes Shopping'"><span><img class="centered"
                                                                                                                    src="web/images/Indiatimes1.JPG"></span>
                                                </div>
                                                <div style="margin-left: 111px; margin-top: 8px"
                                                     ng-show="product.merchant == 'Greendust.com'"><span><img class="centered"
                                                                                                              src="web/images/greendust1.JPG"></span>
                                                </div>
                                                <div class="price text-center">{{productcompare.salePrice}} Rs. <span
                                                        ng-hide="productcompare.discountDesc == ''"> <font size=3 color=red>
                                                    {{productcompare.discountDesc}} </font></span></div>
                                                <h3 class="m_1 text-center">{{productcompare.productName}}</h3>
                                                <a class="btn btn-primary bt" style="margin-left: 111px; margin-top: 8px"
                                                   target="_blank" href="{{productcompare.productURL}}"> Buy Now </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                    <!--
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div data-ng-repeat="productcompare in pricecompare">
                                                <div class="col_1_of_single1 span_1_of_single1"><a href="#aboutModal"
                                                                                                   ng-click="getWatchInfo(product)"
                                                                                                   data-toggle="modal"
                                                                                                   data-target="#myModal">
                                                    <div class="view1 view-fifth1" style="width: 300px; height: 450px;">
                                                        <div class="top_box">
                                                            </br>
                                                            <p class="m_2"></p>

                                                            <div class="grid_img">
                                                                <div class="css3"><img src="{{productcompare.mediumImage}}"
                                                                                       style="width: inherit; height: 250px" alt=""/></div>

                                                            </div>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Flipkart'"><span><img class="centered"
                                                                                                                 src="web/images/Flipkart1.JPG"></span>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Amazon'"><span><img class="centered"
                                                                                                               src="web/images/amazon1.JPG"></span>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Snapdeal'"><span><img class="centered"
                                                                                                                 src="web/images/snapdeal1.JPG"></span>
                                                        </div>

                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Jabong.com'"><span><img class="centered"
                                                                                                                   src="web/images/jabong1.JPG"></span>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Myntra.com'"><span><img class="centered"
                                                                                                                   src="web/images/myntra1.JPG"></span>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Indiatimes Shopping'"><span><img class="centered"
                                                                                                                            src="web/images/Indiatimes1.JPG"></span>
                                                        </div>
                                                        <div style="margin-left: 111px; margin-top: 8px"
                                                             ng-show="product.merchant == 'Greendust.com'"><span><img class="centered"
                                                                                                                      src="web/images/greendust1.JPG"></span>
                                                        </div>
                                                        <div class="price text-center">{{productcompare.salePrice}} Rs. <span
                                                                ng-hide="productcompare.discountDesc == ''"> <font size=3 color=red>
                                                            {{productcompare.discountDesc}} </font></span></div>
                                                        <h3 class="m_1 text-center">{{productcompare.productName}}</h3>
                                                        <a class="btn btn-primary bt" style="margin-left: 111px; margin-top: 8px"
                                                           target="_blank" href="{{productcompare.productURL}}"> Buy Now </a>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="clear"></div>
                                                </a></div>
                                            </div>
                                        </div>
                    -->
                </div>
                <div class="modal-footer">
                    <span data-dismiss="modal" class="label label-warning">Close</span>
                </div>
            </div>
        </div>
    </div>
</div>
