<div class="index-banner"   >
    <div class="wmuSlider example1" style="height: 560px;">
        <div class="wmuSliderWrapper">
            <article style="position: relative; width: 100%; opacity: 1;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="img/banner1.jpg" alt=""/>
                    </div>
                    <div class="slider-right">
                        <h2 style="color: #46b8da; font-weight: bold;">Browse. Shop. Share.</h2>
                        <h5 style="color: #00405d;">Mobiles, electronics and much more.</h5>
                        <br>
                        <p style="color: #00405d;"><i>Be ready for surprise gifts at your doorsteps, for every sale you made through Pingle.</i></p>
                        <br>
                        <div class="btn"><a href="web/shop.html">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="img/banner.jpg" alt=""/>
                    </div>
                    <div class="slider-right">
                        <h2 style="color: #46b8da; font-weight: bold;">Online Mall.</h2>
                        <h5 style="color: #00405d;">Amazing collection of women clothing from different trusted online vendors</h5>
                        <br>
                        <p style="color: #00405d;"><i>Voila! you might be eligible for some cashbacks as well. </i></p>
                        <br>
                        <div class="btn"><a href="web/shop.html">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="img/banner3jpg.jpg" alt=""/>
                    </div>
                    <div class="slider-right">
                        <h2 style="color: #46b8da; font-weight: bold;">Go Macho.</h2>
                        <h5 style="color: #00405d;">Amazing collection of Men clothing from different trusted online vendors</h5>
                        <br>
                        <p style="color: #00405d;"><i>You need not switch tabs, you get it all at once @ Pingle.</i></p>
                        <br>
                        <div class="btn"><a href="web/shop.html">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="img/banner13.jpg" alt=""/>
                    </div>
                    <div class="slider-right">
                        <h2 style="color: #46b8da; font-weight: bold;">No LIMIT.</h2>
                        <h5 style="color: #00405d;">Wide range of watches for both Men and Women.</h5>
                        <br>
                        <p style="color: #00405d;"><i>You need not switch tabs, you get it all at once @ Pingle.</i></p>
                        <br>
                        <div class="btn"><a href="web/shop.html">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="img/banner6.jpg" alt=""/>
                    </div>
                    <div class="slider-right">
                        <h2 style="color: #46b8da; font-weight: bold;">PINGLE IT.</h2>
                        <h5 style="color: #00405d;">We know we all love Flipkart, Amazon, Myntra, Jabong and others, and Pingle brings them all together.</h5>
                        <br>
                        <p style="color: #00405d;"><i>You need not switch tabs, you get it all at once @ Pingle.</i></p>
                        <br>
                        <div class="btn"><a href="web/shop.html">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </div>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="wmuActive">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ul></div>
    <script src="web/js/jquery.wmuSlider.js"></script>
    <script type="text/javascript" src="web/js/modernizr.custom.min.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
</div>
<div class="main">
<div class="wrap">
<div class="content-top">
    <div class="lsidebar span_1_of_c1">
        <p style="font-weight: bold">Like us on social media and help us kick started.</p>
    </div>
    <div class="cont span_2_of_c1">
        <div class="social">
            <ul>
                <li class="facebook"><a href="#"><span> </span></a><div class="radius"> <img src="web/images/radius.png"><a href="#"> </a></div><div class="border hide"><p class="num">1.51K</p></div></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li class="twitter"><a href="#"><span> </span></a><div class="radius"> <img src="web/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li class="google"><a href="#"><span> </span></a><div class="radius"> <img src="web/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li class="dot"><a href="#"><span> </span></a><div class="radius"> <img src="web/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="clear"></div>
</div>


<div class="box1" data-ng-repeat="product in home">
<!--<div class="col_1_of_3 span_1_of_3" ><a href="web/single.html">
    <div class="view view-fifth">
        <div class="top_box">
            <h3 class="m_1">{{product.productName}}</h3>
            <p class="m_2">Lorem ipsum</p>
            <div class="grid_img">
                <div class="css3"><img src="{{product.productImage}}" alt=""/></div>
                <div class="mask">
                    <div class="info">Quick View</div>
                </div>
            </div>
            <div class="price">{{product.productPrice}} INR</div>
        </div>
    </div>
					   <span class="rating">
				        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
				        <label for="rating-input-1-5" class="rating-star1"></label>
				        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
				        <label for="rating-input-1-4" class="rating-star1"></label>
				        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
				        <label for="rating-input-1-3" class="rating-star1"></label>
				        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
				        <label for="rating-input-1-2" class="rating-star"></label>
				        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
				        <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
		        	  (45)
		    	      </span>
    <ul class="list">
        <li>
            <img src="web/images/plus.png" alt=""/>
            <ul class="icon1 sub-icon1 profile_img">
                <li><a class="active-icon c1" href="#">Add To Bag </a>
                    <ul class="sub-icon1 list">
                        <li><h3>Merchant - <b> {{ product.merchant }} </b> </h3><a href=""></a></li>
                        <li><p>{{product.productDescription}}  <a href="{{product.prodURL}}">BUY NOW</a></p></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clear"></div>
</a></div>-->
</div>

<div class="main">
<div class="wrap">
<div class="content-bottom">
<div class="box1">
    <div >

        <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141516125834811096' frameborder=0 height=280 width=330></iframe>

        <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141516350020942361' frameborder=0 height=280 width=330></iframe>

        <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141516366330035489' frameborder=0 height=280 width=330></iframe>


    </div>
    <div>
        <center>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pinglein-21&marketplace=amazon&region=IN&placement=B005YVWXJG&asins=B005YVWXJG&linkId=M5SO7M2LDCHECI34&show_border=true&link_opens_in_new_window=true">
        </iframe>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pinglein-21&marketplace=amazon&region=IN&placement=B00MN254O0&asins=B00MN254O0&linkId=KA4OCHL4RSANUTXX&show_border=true&link_opens_in_new_window=true">
        </iframe>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pinglein-21&marketplace=amazon&region=IN&placement=B00O0WJ22G&asins=B00O0WJ22G&linkId=IAI3ONIC7ONRPZBT&show_border=true&link_opens_in_new_window=true">
        </iframe>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pinglein-21&marketplace=amazon&region=IN&placement=B00ITO42DK&asins=B00ITO42DK&linkId=57NZJCZD45AWVSNQ&show_border=true&link_opens_in_new_window=true">
        </iframe>
        </center>
    </div>
    <div >

    </div>
    <div class="clear"></div>
</div>

</div>
</div>
</div>
<div class="underline">

<center><iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141516121537410250' frameborder=0 height=110 width=770></iframe></center>
   </div>
<div class="underline">
<section id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<!--
<center>
    <img src="web/images/naveen.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
    <h3 class="media-heading">Naveen Dutt Vyas<small>Bengaluru</small></h3>
    <span><strong>Skills: </strong></span>
    <span class="label label-warning">HTML5/CSS</span>
    <span class="label label-info">Adobe CS 5.5</span>
    <span class="label label-info">Microsoft Office</span>
    <span class="label label-success">Windows XP, Vista, 7</span>
</center>

<hr>
<center>
    <p class="text-left"><strong>Bio: </strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
    <br>
</center>
-->

<div class="container" id="tourpackages-carousel">

    <div class="row" style="margin-left: 30%">

       <b> <label class="text-center" style="font-weight: bold; margin-left: 25%; font-size: 8">Team Pingle</label></b>
        <br>     <br>
      <center>
        <div class="col-xs-18 col-sm-6 col-md-3 text-center">
            <div class="thumbnail">
                <img src="web/images/naveen.jpg" alt="">
                <div class="caption text-center">
                    <h4>Naveen Dutt Vyas</h4>
                    <p>Founder & CEO</p>
                    <p><span class="fa fa-facebook" /><span class="fa fa-twitter" /></p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="web/images/naveen.jpg" alt="">
                <div class="caption text-center">
                    <h4>Jitendra Sankhla</h4>
                    <p>Co - Founder</p>
                    <p><span class="fa fa-facebook" /><span class="fa fa-twitter" /></p>
                </div>
            </div>
        </div>
      </center>
    </div><!-- End row -->

</div><!-- End container -->


<div class="container">
    <div class="row">

        <div class="col-md-8" style="margin-left: 20%">
            <!-- apple store button -->
            <a class="btn btn-small btn-primary big-btn" href="#">
                <i class="glyphicon glyphicon-phone pull-left"></i><div class="btn-text"><small>Coming soon on</small><br><strong>App Store</strong></div></a>
            <!-- android button -->
            <a class="btn btn-small btn-success big-btn android-btn" href="#">
                <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"><div class="btn-text"><small>Coming soon on</small><br><strong>Google Play</strong></div></a>
            <!-- windows store button -->
            <a class="btn btn-small btn-success big-btn windows-btn" href="#">
                <img width="60px" class="pull-left" src="http://1.bp.blogspot.com/-rD2_M6Vvv6w/UbmywLq5V8I/AAAAAAAACko/BEcR4QqtkRI/s1600/Windows%2BStore%2BLogo.png"><div class="btn-text"><small>Coming soon on</small><br>Windows</div></a>


        </div>
    </div>
</div>


<!--<div class="col-sm-9 padding-right">-->
<!--<div class="features_items">&lt;!&ndash;features_items&ndash;&gt;
    <h2 class="title text-center">Features Items</h2>
    <div class="col-sm-4" data-ng-repeat="product in home">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="{{product.productImage}}" width="160" height="260" alt="" />
                    <h2>{{ product.productPrice }} INR</h2>
                    <p>{{product.productName}}</p>
                    <a href="{{product.prodURL}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>{{ product.productPrice }} INR</h2>
                        <p>{{product.prodDescription}}</p>
                        <a href="{{product.prodURL}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <!--<div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/product2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/product3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/product4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
                <img src="eshopper/images/home/new.png" class="new" alt="" />
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/product5.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
                <img src="eshopper/images/home/sale.png" class="new" alt="" />
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <!-- <div class="col-sm-4">
         <div class="product-image-wrapper">
             <div class="single-products">
                 <div class="productinfo text-center">
                     <img src="eshopper/images/home/product6.jpg" alt="" />
                     <h2>$56</h2>
                     <p>Easy Polo Black Edition</p>
                     <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                 </div>
                 <div class="product-overlay">
                     <div class="overlay-content">
                         <h2>$56</h2>
                         <p>Easy Polo Black Edition</p>
                         <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                     </div>
                 </div>
             </div>
             <div class="choose">
                 <ul class="nav nav-pills nav-justified">
                     <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                     <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                 </ul>
             </div>
         </div>
     </div>-->

<!--
</div>&lt;!&ndash;features_items&ndash;&gt;

<div class="category-tab">&lt;!&ndash;category-tab&ndash;&gt;
<div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
        <li><a href="#blazers" data-toggle="tab">Blazers</a></li>
        <li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
        <li><a href="#kids" data-toggle="tab">Kids</a></li>
        <li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
    </ul>
</div>
<div class="tab-content">
<div class="tab-pane fade active in" id="tshirt" >
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="blazers" >
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="sunglass" >
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="kids" >
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="poloshirt" >
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery4.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="eshopper/images/home/gallery1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>&lt;!&ndash;/category-tab&ndash;&gt;

<div class="recommended_items">&lt;!&ndash;recommended_items&ndash;&gt;
    <h2 class="title text-center">recommended items</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend1.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend2.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend3.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend1.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend2.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="eshopper/images/home/recommend3.jpg" alt="" />
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>&lt;!&ndash;/recommended_items&ndash;&gt;

&lt;!&ndash;</div>&ndash;&gt;

&lt;!&ndash;
<iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-140783497538848252' style="margin-left: 450px" height=155 width=3260
            scrolling='no' frameborder=0></iframe>
&ndash;&gt;
-->
